body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f8fb;
    text-align: center;
}

header{
    background-image: url(../LandingPage/undefined\ -\ Imgur.jpg);
    color: white;
    padding: 50px 20px;
    background-size: cover;
    background-position: center;
}

header h2{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: rgb(81, 81, 255);
    cursor: pointer;
    transition: background-color 0.3s;
}  


button :hover{
    background-color: #6955cc;}

    .feature{
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .features {

        margin: 10px;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px px rgb(0, 0, 0, 1);
        transition: transfom 0.3s ease ; 
        box-shadow: 0 4px 8px rgba( 0,0,0,0.15);
        }

    .features :hover{
        transform: scale(1.05) ;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    footer{

        background-color: #333;
        padding: 30px;
        color: white;
        text-align: center;
    }
